body{
    background-image: linear-gradient(to right,#25a7d7, #2962FF);
}
canvas{
    margin-top: 2vh;
    background-color: #ffffff00;    
    margin-left: 5vw; 
    }
.card{
    height :25vh; 
    width: 350px; 
    float:left;
    margin-top :0%;
    margin-left: 5vw;
    background-color: white;
    color:black;
    border-radius: 10px;
    }    
.card-body{
    height: 20vh;
    background-color: white;
    color:black;
    border-radius: 10px;
    
}

.card2{
    position: absolute;
    right:5vw;
    height :25vh; 
    width: 350px; 
    margin-top :5px;
    margin-left: 5vw;
    background-color: white;
    color:black;
    border-radius: 10px;
    }    
.card-body2{
    height: 25vh;
    margin-top: 5px;
    background-color: white;
    color:black;
    border-radius: 10px;
    
}


#customRange2{
    direction: rtl;
}
#customRange3,#customRange2{
    position: relative;
    top: 20%;
    width: 180px !important;
    
}
.form-range{
    position: relative;
    padding-bottom: 0;
    width: auto;
}
.textInput{
    color: black;
}
#arrinfo{
    overflow: auto;
    position: absolute;
    /* font-style: italic; */
    font-weight: bold;
    top:28%;
    left: 6%;
    height:19vh;
    width: 310px;
    font-size: 0.7rem;
}
#darkswitch{
    position: absolute;
    bottom:1vh;
}
#git{
    position:absolute;
    right: 2vh;
}